// section style
.section {
  @apply py-16;
}

// container
.container {
  @apply mx-auto max-w-[1240px] px-5;
}

.nav-container {
  @apply mx-0 px-4 md:mx-auto max-w-[1280px] md:px-5;
}

// form style
.form-inputs * {
  @apply mb-5 leading-10;
}

//footer
.footer-copy-write {
   a{
    @apply underline;

    &:hover  {
      @apply hover:text-primary;
    }
   }
}

// home
.bd-home {
  @apply bg-[url('/images/home/md/bg_top_pic.png')] bg-no-repeat bg-center max-w-fit h-auto;
}

.bg-coin {
  @apply md:mt-[100px] -ml-3 lg:ml-12;
  animation: ani-coin 3.5s ease-out infinite;

  @keyframes ani-coin {
    0%,
    33.33%,
    66.67%,
    100% {
      transform: translateY(0px);
    }
    16.67%,
    50%,
    83.33% {
      transform: translateY(12px);
    }
  }
}

.site-link {
  @apply flex justify-center items-center min-w-[140px] md:w-[186px] aspect-square bg-contain bg-no-repeat bg-[url('/images/home/top_logo_bg_nor.svg')] active:bg-[url('/images/home/top_logo_bg_hover.svg')] hover:bg-[url('/images/home/top_logo_bg_hover.svg')];
}

.site-link-other {
  @apply relative overflow-hidden min-w-[140px] md:w-[186px] aspect-square bg-contain bg-no-repeat bg-[url('/images/home/top_logo_bg_nor.svg')] active:bg-[url('/images/home/top_logo_bg_hover2.svg')] hover:bg-[url('/images/home/top_logo_bg_hover2.svg')];
}

.bd-blog {
  @apply flex flex-col w-full md:max-w-[570px];

  &-right {
    @apply justify-end items-end text-right;
  }

  .title {
    @apply text-[30px] md:text-[50px]  text-white leading-8 md:leading-[60px];
  }
  .underline {
    @apply h-[1px] w-[90%] md:w-[80%] lg:w-[426px] bg-white;
  }
  .subtitle {
    @apply text-[18px] md:text-[20px] text-white font-primary w-[90%] md:w-[80%] lg:w-[426px] pt-2 leading-6;
  }
  .description {
    @apply text-base w-[90%] md:w-[80%] lg:w-[426px] pt-2 leading-6;
  }
}

.right-light {
  animation: ani1 3.6s ease-out infinite; 

  @keyframes ani1 {
    0%,
    100% {
      opacity: 0.3;
    }
    
    50% {
      opacity: 0.6;
    }
  }
}

