 
  .timeline {
    position: relative;
    margin: 0 auto;
  
    &::after {
      content: "";
      position: absolute;
      width: 1px;
      border-left: 2px dashed #FD2C2F;
      top: 0;
      bottom: 0;
      left: 50%;
    }
  }
  
  .timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  
    &::after {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      right: -8px;
      background-color: red;
      top: 20px;
      border-radius: 7px;
      z-index: 1;
    }
  }
  
  .left {
    left: 0;
  
    &::before {
      content: " ";
      height: 0;
      position: absolute;
      top: 22px;
      width: 0;
      z-index: 1;
      right: 30px;
      border: medium solid #1A1C1F;
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent #1A1C1F;
    }
  }
  
  .right {
    left: 50%;
    &::before {
      content: " ";
      height: 0;
      position: absolute;
      top: 25px;
      width: 0;
      z-index: 1;
      left: 30px;
      border: medium solid #1A1C1F;
      border-width: 10px 10px 10px 0;
      border-color: transparent #1A1C1F transparent transparent;
    }
  
    &::after {
      left: -7px;
    }
  }
  
  .content {
    padding: 20px 30px;
    background-color: #1A1C1F;
    position: relative;
    border-radius: 6px;
  }
  
  @media screen and (max-width: 767.98px) {
    .timeline::after {
      left: 31px;
    }
  
    .timeline-container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
    .timeline-container::before {
      left: 60px;
      border: medium solid #1A1C1F;
      border-width: 10px 10px 10px 0;
      border-color: transparent #1A1C1F transparent transparent;
    }
  
    .left::after,
    .right::after {
      left: 24px;
    }
  
    .right {
      left: 0%;
    }
  }